:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
#app {
  background-image: linear-gradient(
    to bottom,
    #caedff,
    #f2f3f5,
    #f2f3f5,
    #f2f3f5,
    #f2f3f5
  ) !important;
}

img {
  -webkit-user-drag: none;
}
/* 滚动条样式 */
::-webkit-scrollbar {
  width: 5px;
  height: 6px;
  background-color: #fff;
  border-radius: 8px;
}
::-webkit-scrollbar-track {
  padding: 5px;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb {
  width: 3px !important;
  border-radius: 8px;
  background-color: #cecece;
}
