:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
html,
body {
  background: #f1f2f4 !important;
  background: #F6F6F8 !important;
  /* background: linear-gradient(180deg,#f5e4ff,#ebd0ff ,#F6F6F8) no-repeat !important; */

}

img{
  -webkit-user-drag: none;
}
/* 滚动条样式 */
::-webkit-scrollbar{
  width: 5px;
  background-color: #fff;
  border-radius: 8px;
}
::-webkit-scrollbar-track{
  padding: 5px;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb{
  width: 3px !important;
  border-radius: 8px;
  background-color: #cecece;
}


