
body,html {
  margin: 0;
  padding: 0;

}
img{
  -webkit-user-drag: none;
}
p{
  margin: 0;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}

:root{
  --themeColor:#62D8F5;
  --radiusSize: 10px;
}

