@import 'ant-design-vue/dist/antd.less';

:root {
  --themeColor: #7546c9;
  --themeColor: #369eff;
  --btnHoverThemeColor: #622bc2;
  --btnHoverThemeColor: rgb(52, 137, 217);
  --radiusSize: 8px;
  --shallowThemeColor: #f8f0ff;
  --shallowThemeColor: rgb(236, 247, 251);
  --animate-duration: 300ms;
  --animate-delay: 0.2s;
}
